<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test14</title>
</head>
<body>
<!--<if condition="条件表达式">-->
    <!--输出结果1-->
    <!--<elseif condition="条件表达式2"/>-->
    <!--输出结果2-->
    <!--<elseif condition="条件表达式3"/>-->
    <!--输出结果3-->
    <!--....-->
    <!--<else/>-->
<!--</if>-->
<if condition="$date==1">
    星期一
    <elseif condition="$date==2"/>
    星期二
    <elseif condition="$date==3"/>
    星期三
    <elseif condition="$date==4"/>
    星期四
    <elseif condition="$date==5"/>
    星期五
    <elseif condition="$date==6"/>
    星期六
    <elseif condition="$date==7"/>
    星期天
    </elseif>
</if>
</body>
</html>